

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

 img {
    display: block;
 }

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.header {
    background: #fff;
}

.container {
    width: 1158px;
    padding:0 15px;
    margin: 0 auto;
}

.header-conteiner {
   display:flex;
align-items: center;
}
/* ------------header------------- * */



.header-title {
border-bottom: 1px solid #e7e9fc;
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    margin-right: 76px;
}

.header-menu-list {
display: flex;
gap: 40px;
}
.header-contacts-list {
    display: flex;
    gap: 40px;
   
}

.header-logo-accent {

    color: #2e2f42;
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.header-menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404BBF;
}

.current:after {
    border-radius: 2px;
    height: 4px;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color:#404bbf;
}

.header-contacts {
font-style: normal;
margin-left: auto;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;
}



.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------main-solutions---------- */


.main-solutions {
    background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
         url(../images/img-people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto; 
}

.main-solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
     
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* -------------------------------------------- */

/* --------------------hearo------------------------ */

.hero {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.hero-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.hero-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.hero-icons-list {
    display: flex;
    border-radius: 4px;
    height: 112px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    flex-direction: column;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------------------------------------------- */

/* -----------------------team--------------------- */

.team {
    background: #f4f4fd;
    padding: 120px 0;
   
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #fff;
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
    
.team-opys {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.socialnet-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socialnet-list-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404bbf;
    /*правильний колір #31d0aa */
}

.soc-icon {
    fill: #f4f4fd;
}


/* -------------------------------------------- */


/* --------------------our portfolio------------------------ */

.port {
    padding: 120px 0 120px 0;
}



.port-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item:hover .port-cover-item {
    transform: translateY(0);
}

.port-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}



.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.port-cover-wrap {
    position: relative;
    overflow: hidden;
}

.port-cover-item {
    position: absolute;
    top: 0;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    padding: 40px 32px 164px 32px;
    transform:translateY(100%);
    transition: transform 300ms linear;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.port-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------------------------------------------- */

/* ----------------------footer---------------------- */

.section-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-conteiner {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-logo-accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social-wrap {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-social-title {
    margin-bottom: 16px;
}

.footer-socialnet-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-sub-wrap {
margin-right: auto;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-text-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-lable-email {
    gap: 24px;
}

.footer-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.footer-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn-sub {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-btn-sub:hover,
.footer-btn-sub:focus {
    background-color: #404bbf;
}

.footer-btn-icon {
    fill: #fff;
    margin-left: 16px;
}
/* ------------------------------------ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal {
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
     0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}


.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-icon {
    fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;   
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.form-icon {
    fill: #4d5ae5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}
    
.modal-btn-send {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404bbf;
}

.modal-input-conteiner{
margin-bottom: 8px;
}


.modal-input-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.modal-form-input {
    font-size: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    position: relative;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-textarea {
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    outline: transparent;
}

.modal-form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus+.form-icon {
    fill: #4d5ae5;
}

input:focus-within {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.modal-container-textarea {
    margin-bottom: 16px;
}


.modal-check {
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check:focus+.check-text span {
    border-color: #4D5AE5;
}

.modal-icon-wrap {
    margin-right: 8px;
}

.check-text span {
    display: flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-check:focus+.check-text span {
    background-color: #404bbf;
}

.policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-field.checkbox {
    margin-bottom: 24px;
}




